<div class="post">
  <p>{{ post.text }}</p>
  <div>
    <div class="post-rate">
      {{ post.likes }}
      <img *ngIf="postRate === PostRateEnum.like; else notLiked" ngSrc="assets/activeLikeButtion.svg">
      <ng-template #notLiked>
        <img ngSrc="assets/likeButton.svg">
      </ng-template>
    </div>
    <div class="post-rate">
      {{ post.dislikes }}
      <img *ngIf="postRate === PostRateEnum.dislike; else notDisliked" ngSrc="assets/activeDisikeButtion.svg">
      <ng-template #notDisliked>
        <img ngSrc="assets/dislikeButton.svg">
      </ng-template>
    </div>
    </div>
</div>
