<app-center-content>
  <form (ngSubmit)="submit(password.value, passwordVerification.value)">
    <div class="form-field">
      <input class="form-input" type="password" placeholder="password: " #password>
      <p *ngIf="!passwordMatches" style="color: red">passwords do not match</p>
    </div>
    <div class="form-field">
      <input class="form-input" type="password" placeholder="confirm password: " #passwordVerification>
    </div>
    <button class="submit-button" type="submit">change password</button>
  </form>
</app-center-content>
