.main-content {
  margin: 20px;
  padding: 10px;
  width: 750px;
  left: 27%;
  position: absolute;
  background-color: #00000000;
  display: inline-block;
  border: 2px solid var(--secondary-color);
}
