<div class="rates">
  <div class="post-rate">
    {{ object.likes }}
    <img *ngIf="object.current_user_rate === LikeableRateEnum.like; else notLiked" src="assets/activeLikeButtion.svg">
    <ng-template #notLiked>
      <img src="assets/likeButton.svg">
    </ng-template>
  </div>
  <div class="post-rate">
    {{ object.dislikes }}
    <img *ngIf="object.current_user_rate=== LikeableRateEnum.dislike; else notDisliked" src="assets/activeDisikeButtion.svg">
    <ng-template #notDisliked>
      <img src="assets/dislikeButton.svg">
    </ng-template>
  </div>
</div>
