<app-center-content>
  <form [formGroup]="changePasswordForm" (submit)="submit(passwordVerification.value)">
    <div class="form-field">
      <input class="form-input" type="password" formControlName="oldPassword" placeholder="old password: ">
    </div>
    <div class="form-field">
      <input class="form-input" type="password" formControlName="newPassword" placeholder="new password: ">
      <p *ngIf="!passwordMatches" style="color: red">passwords do not match</p>
    </div>
    <div class="form-field">
      <input class="form-input" type="password" placeholder="confirm new password: " #passwordVerification>
    </div>
    <button class="submit-button" type="submit">change password</button>
  </form>
</app-center-content>
