<div class="post content-block-border">
  <app-author-mixin-header [object]="post"></app-author-mixin-header>
  <p class="post-text whitespace-pre">{{ post.text }}</p>
  <app-post-images [images]="post.images" *ngIf="post.images.length"></app-post-images>
  <app-likeable-rate [object]="post" objectName="post"></app-likeable-rate>
  <div class="comments-wrapper">
    <app-comment-form [post]="post" *ngIf="showComments"></app-comment-form>
    <app-comments [post]="post" *ngIf="showComments"></app-comments>
  </div>
  <div style="background-color: red; height: 20px; width: 20px" (click)="showComments=!showComments"></div>
  <img loading="lazy" [src]="getSrcForAddingPostToViewed()" (load)="postViewed()">
</div>
