<div *ngIf="user">
  <div class="main-user-info">
    <div class="ava">
      <app-profile-user-ava [user]="user"></app-profile-user-ava>
    </div>
    <div class="user-username-and-name-wrapper">
      <app-profile-username-and-name [user]="user"></app-profile-username-and-name>
    </div>
    <div class="user-stats-wrapper">
      <app-profile-user-stats [user]="user"></app-profile-user-stats>
    </div>
    {{ userIsCurrentUser }}
    <div class="subscribe-button" *ngIf="!userIsCurrentUser">
      <app-profile-subscribe-button></app-profile-subscribe-button>
    </div>
  </div>
</div>

