.author-ava {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 90px;
  height: 90px;
}

.user-data-link {
  color: inherit;
  text-decoration: none;
}

.user-name-outer-wrapper {
  display: inline-block;
  width: calc(100% - 100px);
}

.user-name-inner-wrapper {
  position: relative;
  height: 90px;
  width: 90%;
  margin: 5px 0 0 10px;
}

.user-name {
  position: absolute;
  font-size: 24px;
}

.user-data {
  width: 75%;
  display: inline-block;
}

.delete-object-button, .update-object-button {
  width: 10%;
  display: inline-block;
}

.delete-object-button {
  position: relative;
  left: 77px;
  bottom: 40px;
}

.time-data {
  display: inline-block;
}

.update-object-link {
  text-decoration: none;
  color: inherit;
}
