<div class="post-header" *ngIf="author">
  <div class="user-data">
    <a class="user-data-link" [routerLink]="['/user', author.pk]">
      <img class="author-ava" src="{{ author.ava }}" alt="{{ author.pk }}">
      <div class="user-name-outer-wrapper">
        <div class="user-name-inner-wrapper">
          <div class="user-name">
            {{ author.firstName }} {{ author.lastName }}
          </div>
        </div>
      </div>
    </a>
  </div>
  <div *ngIf="currentUserIsAuthor" class="delete-object-button" (click)="deleteObject()">
    <span *ngIf="showDeleteFailedMessage">try later</span>
    <br>
    delete
  </div>
  <div class="time-data">
    <div class="pub-age">{{ pubAge }}</div>
    <div class="upd-age" *ngIf="updAge != pubAge">{{ updAge }}</div>
  </div>
</div>
