<div class="content-block-border" [class.light-up]="lightUp">
  <app-author-mixin-header [object]="comment" objectName="comment"></app-author-mixin-header>
  <p class="comment-text whitespace-pre-wrap" (click)="showReplyForm = true; showEditCommentForm = false">
    {{ comment.text }}
  </p>
  <div
    *ngIf="currentUserIsAuthor"
    (click)="showReplyForm = false; showEditCommentForm = true"
    class="show-edit-comment-form"
  >
    edit
  </div>
  <app-likeable-rate [object]="comment" objectName="comment"></app-likeable-rate>
  <app-edit-comment-form
    *ngIf="showEditCommentForm"
    [comment]="comment"
    (submitted)="showEditCommentForm = false"
  ></app-edit-comment-form>
  <div class="replies-wrapper">
    <app-reply-form
      [comment]="comment"
      [clickedReplyPk]="clickedReplyPk"
      *ngIf="showReplyForm"
      (newReply)="newReplies.unshift($event)"
    ></app-reply-form>
    <app-comment-replies
      [openReplyPk]="openReplyPk"
      [comment]="comment"
      [newReplies]="newReplies"
      (clickedReplyPk)="clickedReplyPk = $event"
      (showedRepliesAmount)="showedRepliesAmountChanged($event)"
    ></app-comment-replies>
  </div>
</div>
