.input {
  width: 72%;
  display: inline-block;
  height: 30px;
  padding: 3px 5px 0 5px;
  outline: none;
  color: inherit;
  font-size: 16px;
  border: none;
  background-color: #00000000;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  margin: 10px 0 10px 0;
}

.submit-button {
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  font-size: 16px;
  width: 15%;
}
