<div class="comment content-block-border">
  <app-author-mixin-header [object]="comment"></app-author-mixin-header>
  <p class="comment-text" (click)="showReplyForm = true">
    {{ comment.text }}
  </p>
  <app-likeable-rate [object]="comment" objectName="comment"></app-likeable-rate>
  <div class="replies-wrapper">
    <app-reply-form [object]="comment" objectName="comment" *ngIf="showReplyForm"></app-reply-form>
    <app-comment-replies
            [comment]="comment"
            (showedRepliesAmount)="showedRepliesAmountChanged($event)"
    ></app-comment-replies>
  </div>
</div>
